# Root level ignores
node_modules/
.venv/
.env
reports/

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Backend ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.pytest_cache/
allure-results/
.coverage
htmlcov/
