Feature: {{ feature_name }}
  As a {{ actor }}
  I want to {{ action }}
  So that I can {{ goal }}

  Scenario: Successfully remove product from cart
    Given I have "Sauce Labs Backpack" in my shopping cart
    When I click "Remove" on "Sauce Labs Backpack"
    Then the cart badge should not be displayed
    And "Sauce Labs Backpack" should no longer be in my cart

  Scenario: Verify cart is empty when no products are added
    Given I have no items in my shopping cart
    Then the cart should be empty
    And the cart badge should not be displayed
